.feed {
  flex: 0.4;
  border-right: 1px solid var(--twitterBackground);
  min-width: fit-content;
  overflow-y: scroll;
  /* Hide scrollbar for IE,Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* To Hide feed scrollbar fro Chrome, Safari and Opera */
.feed::-webkit-scrollbar {
  display: none;
}

.feedHeader {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
  border: 1px solid var(--twitterBackground);
  padding: 15px 20px;
}

.feedHeader h2 {
  font-size: 20px;
  font-weight: 800;
}
